@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 8px !important;
}

.mapboxgl-popup-close-button {
  display: none !important;
}
